<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vainolo.phd.opp.editor.OPPGraphicalEditor"
            contributorClass="com.vainolo.phd.opp.editor.OPPGraphicalEditorActionBarContributor"
            default="true"
            extensions="opp"
            icon="icons/opp16x16.ico"
            id="com.vainolo.phd.opp.editor.editorID"
            name="OPM GEF Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.vainolo.phd.opp.editor.OPPOPLViewPart"
            id="com.vainolo.phd.opp.editor.OPPOPLView"
            name="OPL"
            restorable="true">
      </view>
      <view
            class="com.vainolo.phd.opp.editor.OPPExecutionLogViewPart"
            id="com.vainolo.phd.opp.editor.OPPExecutionLogView"
            name="OPP Execution Log"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.vainolo.phd.opm.editor.Wizard.ID"
            class="com.vainolo.phd.opp.editor.OPPModelWizard"
            finalPerspective="com.vainolo.phd.opp.editor.perspective"
            icon="icons/opp16x16.ico"
            id="com.vainolo.phd.opp.editor.NewOPPDWizardID"
            name="OPP Diagram">
      </wizard>
      <category
            id="com.vainolo.phd.opp.editor.Wizard.ID"
            name="OPP">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.vainolo.phd.opp.editor.PerspectiveFactory"
            icon="icons/opp16x16.ico"
            id="com.vainolo.phd.opp.editor.perspective"
            name="OPP">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.vainolo.phd.opp.editor.perspective">
         <view
               closeable="true"
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               moveable="true"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="com.vainolo.phd.opp.editor.OPPOPLView"
               minimized="false"
               moveable="true"
               ratio="0.8"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <newWizardShortcut
               id="com.vainolo.phd.opp.editor.NewOPPDWizardID">
         </newWizardShortcut>
         <view
               id="com.vainolo.phd.opp.editor.OPPExecutionLogView"
               minimized="false"
               relationship="stack"
               relative="com.vainolo.phd.opp.editor.OPPOPLView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
