<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.vainolo.com/opm/phd/interpreter"
            class="com.vainolo.phd.opm.interpreter.model.InterpreterPackage"
            genModel="model/interpreter.genmodel"/>
   </extension>

</plugin>
