<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.vainolo.phd.opm.gef.editor.OPMGraphicalEditor"
            contributorClass="com.vainolo.phd.opm.gef.editor.OPMGraphicalEditorActionBarContributor"
            default="true"
            extensions="opm"
            id="com.vainolo.phd.opp.gef.editorID"
            name="OPM GEF Editor">
      </editor>
   </extension>

</plugin>
