<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>



   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.vainolo.phd.opm.model.presentation.OPMEditorID"
            name="%_UI_OPMEditor_label"
            icon="icons/full/obj16/OPMModelFile.gif"
            extensions="opm"
            class="com.vainolo.phd.opm.model.presentation.OPMEditor"
            contributorClass="com.vainolo.phd.opm.model.presentation.OPMActionBarContributor">
      </editor>
   </extension>

</plugin>
