<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated opm -->
      <package
            uri="http://www.vainolo.org/opm"
            class="com.vainolo.opm.model.opm.OPPackage"
            genModel="model/opm.genmodel"/>
   </extension>

</plugin>
